<div class="wrapper">
  <div class="main-btns">
    <button class="btn add" mat-raised-button (click)="createUser()">Add new user</button>
  </div>

<table mat-table [dataSource]="peopleInfo" class="mat-elevation-z8 table-list" *ngIf="peopleInfo.length else noData">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> Second name </th>
    <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> First name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Patronymic </th>
    <td mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Number of machines </th>
    <td mat-cell *matCellDef="let element"> {{element.carInfo.length}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="openDialogOwner(element.id, 'show')" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon class="action-icon view">remove_red_eye</mat-icon>
      </button>
      <button (click)="openDialogOwner(element.id, 'edit')" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon class="action-icon">edit</mat-icon>
      </button>
      <button (click)="deleteUser(element.id)" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon class="action-icon delete">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<ng-template #noData>
  <div class="title-no-add">No people added</div>
</ng-template>
</div>

<ngx-spinner bdColor = "rgba(0,0,0,0.43)" size = "default" color = "#676767" type = "pacman" [fullScreen] = "true"></ngx-spinner>
